@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');

body {
    background: linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.25)), url("../img/bg1.jpg") no-repeat center center fixed;
    font-family: monospace, Arial, Helvetica, sans-serif;
    transition: .6s;
    text-align: center;
}
#intro h1 {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 6em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-text-stroke: 2px #d6261a;
    color: #ffffff;
    text-shadow: -6px 6px 6px #484848;
    transform: skew(-4deg, -5deg);
    top: -15px;
    position: relative;
}
.timer{
  text-align: centre;
  top: 0px;
  left: 20px;
  position: fixed;
  display:flex;
  justify-content:center;
}
.date{
  font-size: 2.7em;
  font-family: 'Lalezar';
}
.label{
  text-align: centre;
  color:#fff;
}
.pill{
  background:#000;
  color:#fff;
  border-top:5px solid #fff;
  padding:8px 10px;
  margin:10px 5px;
  margin-top: -5px;
  transition: .3s ease-out;
  border-radius:5px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.5 );
}
.pill:hover{
  color:#fe6869;
  margin-bottom: -5px;
  border-bottom:5px solid #fe6869;
}
.pill:hover .label{
  text-align: centre;
  color:#fe6869;
  transition: .3s;
}
.box{
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    display:inline-block;
    margin:20px;
    position: fixed;
    border: 3px solid #ccc;
    border-radius: 50%;
    background-image: -moz-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%), -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
    background-image: -webkit-radial-gradient(40% 40%,circle,rgba(0,0,0,.1) 40%,rgba(0,0,0,1) 100%),-webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #FFF 55%);
}
  .box:before{
      text-align: center;
      content: "";
      display: block;
      position: absolute;
      z-index: 6;
      width: 1%;	
      height: 1%;
      background-color: #FFF;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #AAA, 0 0 0 6px #fff, 0 0 0 9px #3f3f3f;
      margin: 50%;
  }
  .box:after{
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 94%;
      height: 10%;
      background-color:rgba(0,0,0,0);
      margin: 45% 3%;
      box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
  }
  
.box:hover{ 
    -webkit-animation: shak .3s infinite; 
    -moz-animation: shak .3s infinite;
    animation: shak .3s infinite;
}
@-webkit-keyframes shak{
    0%,100%{ -webkit-transform:rotate(-10deg);}
    50%{-webkit-transform:rotate(10deg);}
}
@-moz-keyframes shak{
    0%,100%{ -moz-transform:rotate(-10deg);}
    50%{-moz-transform:rotate(10deg);}
}
@keyframes shak{
    0%,100%{ transform:rotate(-10deg);}
    50%{transform:rotate(10deg);}
}

.display {
	display: none;
}
#settings {
	font-size: 22px;
	margin: 0px auto;
	border-radius: 20px;
}


[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    margin: 15px 0;
    width: 20%;
}
[type="range"]::-moz-focus-outer {
    border: 0;
}
[type="range"]:focus {
    outline: 0;
}
[type="range"]:focus::-webkit-slider-runnable-track {
    background: #f4f6f7;
}
[type="range"]:focus::-ms-fill-lower {
    background: #ebeef1;
}
[type="range"]:focus::-ms-fill-upper {
    background: #f4f6f7;
}
[type="range"]::-webkit-slider-runnable-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #ebeef1;
    border: 0 solid #ebeef1;
    border-radius: 99px;
}
[type="range"]::-webkit-slider-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #fe6869;
    border: 0 solid #eceff1;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 36px;
    background-image: url('https://www.doodlemaths.com/wp-content/uploads/2019/04/9-dots-question-300x300.png');
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}
[type="range"]::-moz-range-track {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: #ebeef1;
    border: 0 solid #ebeef1;
    border-radius: 99px;
    height: 4px;
}
[type="range"]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #fe6869;
    border: 0 solid #eceff1;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 36px;
    background-image: url('https://www.doodlemaths.com/wp-content/uploads/2019/04/9-dots-question-300x300.png');
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
[type="range"]::-ms-track {
    cursor: default;
    height: 8px;
    transition: all 0.2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
}
[type="range"]::-ms-fill-lower {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #e2e6eb;
    border: 0 solid #ebeef1;
    border-radius: 198px;
}
[type="range"]::-ms-fill-upper {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #ebeef1;
    border: 0 solid #ebeef1;
    border-radius: 198px;
}
[type="range"]::-ms-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, .2), 0 0 0 rgba(13, 13, 13, .2);
    background: #fe6869;
    border: 0 solid #eceff1;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 36px;
    background-image: url('../img/slider.png');
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 2px;
}
[type="range"]:disabled::-webkit-slider-thumb, [type="range"]:disabled::-moz-range-thumb, [type="range"]:disabled::-ms-thumb, [type="range"]:disabled::-webkit-slider-runnable-track, [type="range"]:disabled::-ms-fill-lower, [type="range"]:disabled::-ms-fill-upper {
    cursor: not-allowed;
}

.btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
    opacity: 0.99;
}
.btns .btn:before {
    content: '';
    width: 120%;
    height: 120%;
    position: absolute;
    transform: rotate(45deg);
}
.btns .btn .fa{
    font-size: 24px;
    vertical-align: middle;
    margin-left: 4px;
}
.btns .btn span{
    color: #d6261a;
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle;
}
.btns .btn,
.btns .btn:before,
.btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.btns .btn:before {
  top: 90%;
  left: -110%;
}
.btns .btn .fa {
  transform: scale(0.8);
}
.btns .btn.range-button:before,
.btns .btn.play-button:before,
.btns .btn.restart-button:before,
.btns .btn.reset-button:before,
.btns .btn.hint-button:before {
  background-color: #dc4a38;
}
.btns .btn.range-button .fa,
.btns .btn.play-button .fa,
.btns .btn.restart-button .fa,
.btns .btn.reset-button .fa,
.btns .btn.hint-button .fa {
  color: #dc4a38;
}
.btns .btn:focus:before,
.btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.btns .btn:focus .fa,
.btns .btn:hover .fa{
  color: #fff;
  /* transform: scale(1); */
}
.btns .range-button::before:focus .range,
.btns .range-button::before:hover .range{
    color: #fff;
  }
.btns .btn.restart-button{
    top: 15%;
    right: 18px;
    position: fixed;
}
.btns .btn.reset-button{
    top: 24%;
    right: 18px;
    position: fixed;
}
.btns .btn.hint-button{
    top: 33%;
    right: 18px;
    position: fixed;
}

.game-status-details {
    min-height: 40px;
    /* display: flex; */
    flex-wrap: wrap;
    /* max-width: 50%; */
    padding-top: 10px;
    /* margin-right: auto; */
    /* padding: 0.3em; */
    text-align: center;
    vertical-align: middle;
}

.container {
    /* bottom: 0px;
    right: 0px; */
    /* width: 200px;
    height: 160px; */

    opacity: 0.8;
    width: 320px;
    height: 460px;
    position: fixed;
    left: 42%;
    bottom: -2%;;
    /* margin: 10vh auto; */
    text-align: center;
}
.container .left-ear {
    position: absolute;
    top: 0px;
    width: 36px;
    height: 160px;
    left: 48px;
    background: #fed823;
    border-bottom-left-radius: 80px 70%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg);
    border-left: 3px solid #0a0a0a;
    border-right: 3px solid #0a0a0a;
    border-top: 1px solid #0a0a0a;
    overflow: hidden;
    z-index: 100;
}
.container .left-ear .punta {
    position: absolute;
    content: '';
    display: block;
    left: 4px;
    width: 38px;
    height: 50px;
    background: #231815;
    -webkit-transform: rotateZ(12deg);
    transform: rotateZ(12deg);
    border-top-right-radius: 250%;
    border-bottom-left-radius: 15px;
    border-bottom: 3px solid #0a0a0a;
}
.container .right-ear {
    position: absolute;
    top: 69px;
    right: 80px;
    width: 30px;
    height: 140px;
    background: #231815;
    border-bottom-left-radius: 80px 150%;
    border-top-left-radius: 190%;
    border-top-right-radius: 150%;
    -webkit-transform: rotateZ(80deg);
    transform: rotateZ(80deg);
    border: 3px solid #0a0a0a;
    border-bottom: none;
    z-index: 500;
    overflow: hidden;
}
.container .right-ear .fillear {
    position: absolute;
    bottom: 0px;
    background: #fed823;
    width: 40px;
    height: 110px;
    border-radius: 0 80% 0 0;
    border-top: 3px solid #0a0a0a;
}
.container .pik-body {
    border-top-left-radius: 130px 120px;
    border-top-right-radius: 150px 100px;
    border-bottom-left-radius: 100px 130px;
    border-bottom-right-radius: 150px 100px;
    width: 185px;
    height: 340px;
    position: absolute;
    border: 3px solid rgba(0, 0, 0, 0);
    bottom: 0;
    transform: rotateZ(-1deg);
    z-index: 300;
}
.container .pik-body .pik-head {
    position: absolute;
    width: 160px;
    height: 160px;
    background: #fed823;
    right: 7px;
    border-top-left-radius: 130px 120px;
    border-top-right-radius: 150px 100px;
    border-bottom-left-radius: 80px 80px;
    border-bottom-right-radius: 25px 120px;
    border: 3px solid #0a0a0a;
    border-bottom: none;
}
.container .pik-body .pik-head:before {
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 70px;
    background: #fed823;
    border-left: 4px solid #0a0a0a;
    left: -14px;
    top: 81px;
    transform: rotateZ(-28deg);
    border-top-left-radius: 150% 90px;
    border-bottom-left-radius: 150% 90px;
}
.container .pik-body .pik-head:after {
    content: '';
    display: block;
    position: absolute;
    width: 23px;
    height: 40px;
    background: #e94e24;
    border-radius: 50%;
    left: -18px;
    top: 80px;
    border-right: 3px solid #0a0a0a;
    border-top: 3px solid #0a0a0a;
    border-bottom: 3px solid #0a0a0a;
}
.container .pik-body .pik-head .cheek-right {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e94e24;
    border: 3px solid #0a0a0a;
    top: 90px;
    right: 18px;
}
.container .pik-body .pik-head .eye-right {
    position: absolute;
    width: 30px;
    height: 33px;
    background: #0a0a0a;
    border-radius: 50%;
    top: 57px;
    right: 36px;
}
.container .pik-body .pik-head .eye-right:before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 12px;
    background: white;
    border-radius: 50%;
    left: 8px;
    top: 5px;
}
.container .pik-body .pik-head .eye-right:after {
    content: '';
    position: absolute;
    right: 3px;
    display: block;
    width: 28px;
    height: 3px;
    background: #0a0a0a;
    -webkit-transform: rotateZ(-28deg);
    transform: rotateZ(-28deg);
}
.container .pik-body .pik-head .eye-left {
    position: absolute;
    width: 20px;
    height: 32px;
    background: #0a0a0a;
    border-radius: 50%;
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    top: 50px;
    left: 10px;
}
.container .pik-body .pik-head .eye-left:before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 13px;
    background: white;
    border-radius: 50%;
    -webkit-transform: rotateZ(8deg);
    transform: rotateZ(8deg);
    left: 10px;
    top: 5px;
}
.container .pik-body .pik-head .eye-left:after {
    content: '';
    display: block;
    width: 24px;
    height: 3px;
    background: #0a0a0a;
    -webkit-transform: rotateZ(28deg);
    transform: rotateZ(28deg);
}
.container .pik-body .pik-head .nose {
    position: absolute;
    width: 10px;
    height: 11px;
    background: #0a0a0a;
    top: 75px;
    left: 40px;
    border-radius: 0% 50% 30% 50%;
    -webkit-transform: rotateZ(-36deg);
    transform: rotateZ(-36deg);
}
.container .pik-body .pik-head .mouth {
    position: absolute;
    width: 25px;
    height: 20px;
    border-radius: 0% 0% 100% 0%;
    border-bottom: 4px solid #0a0a0a;
    border-right: 3px solid #0a0a0a;
    top: 90px;
    left: 48px;
    -webkit-transform: rotateZ(55deg);
    transform: rotateZ(55deg);
}
.container .pik-body .pik-head .mouth:before {
    content: '';
    display: block;
    position: absolute;
    width: 17px;
    height: 15px;
    border-radius: 0% 0% 90% 0%;
    border-bottom: 4px solid #0a0a0a;
    border-right: 3px solid #0a0a0a;
    top: 22px;
    right: 20px;
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}
.container .pik-body .mid {
    position: absolute;
    width: 160px;
    height: 150px;
    top: 165px;
    background: #fed823;
    left: 30px;
    border-top-right-radius: 70px 140px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom: 3px solid #0a0a0a;
    border-right: 3px solid #0a0a0a;
    z-index: 1;
}
.container .pik-body .mid:before {
    position: absolute;
    content: '';
    display: block;
    width: 150px;
    height: 40px;
    border-right: 3px solid #0a0a0a;
    background: #fed823;
    right: 15px;
    -webkit-transform: rotateZ(-8deg);
    transform: rotateZ(-8deg);
}
.container .pik-body .mid:after {
    position: absolute;
    content: '';
    display: block;
    bottom: -2px;
    left: -20px;
    width: 70px;
    height: 100px;
    border-radius: 90% 30% 0 80%;
    background: #fed823;
    border-bottom: 3px solid #0a0a0a;
    border-left: 3px solid #0a0a0a;
}
.container .pik-body .mid .mark1 {
    position: absolute;
    width: 18px;
    height: 12px;
    border-top-left-radius: 50px 100%;
    border-bottom-left-radius: 50px 100%;
    background: #c76e29;
    border: 2px solid #0a0a0a;
    border-right: none;
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
    right: 13px;
    top: 27px;
    z-index: 20;
}
.container .pik-body .mid .mark2 {
    position: absolute;
    width: 28px;
    height: 16px;
    border-top-left-radius: 100px 190%;
    border-bottom-left-radius: 50px 130%;
    background: #c76e29;
    border: 2px solid #0a0a0a;
    border-right: none;
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    right: 0px;
    top: 82px;
    z-index: 20;
}
.container .pik-body .mid .left-hand {
    position: absolute;
    width: 65px;
    height: 65px;
    left: -20px;
    top: -10px;
    border-radius: 70% 50% 80% 60%;
    border-left: 3px solid #0a0a0a;
    border-bottom: 3px solid #0a0a0a;
    background: #fed823;
    z-index: 5;
}
.container .pik-body .mid .left-hand:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 40%;
    border-top: 2px solid #0a0a0a;
    -webkit-transform: rotateZ(17deg);
    transform: rotateZ(17deg);
    top: 16px;
    left: 17px;
}
.container .pik-body .mid .right-hand {
    position: absolute;
    width: 85px;
    height: 65px;
    right: 45px;
    top: -5px;
    border-top-left-radius: 150px 150%;
    border-bottom-left-radius: 50px 70%;
    border-bottom-right-radius: 50px 70%;
    border-left: 3px solid #0a0a0a;
    border-bottom: 2px solid #0a0a0a;
    z-index: 25;
    background: #fed823;
}
.container .pik-body .left-foot {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 30px;
    background: #fed823;
    border-radius: 75%;
    -webkit-transform: rotateZ(-18deg);
    transform: rotateZ(-18deg);
    border: 3px solid #0a0a0a;
}
.container .pik-body .left-foot:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 6px;
    border-top: 3px solid #0a0a0a;
    border-radius: 40%;
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
    bottom: 8px;
}
.container .pik-body .left-foot:after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 8px;
    border-top: 3px solid #0a0a0a;
    border-radius: 50%;
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
    bottom: 12px;
    left: -1px;
}
.container .pik-body .right-foot {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 27px;
    right: -12px;
    background: #fed823;
    border-radius: 85%;
    -webkit-transform: rotateZ(17deg);
    transform: rotateZ(17deg);
    border-bottom: 3px solid #0a0a0a;
}
.container .pik-body .right-foot:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 6px;
    border-top: 3px solid #0a0a0a;
    border-radius: 40%;
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
    bottom: 3px;
    right: 0;
}
.container .pik-body .right-foot:after {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 8px;
    border-top: 3px solid #0a0a0a;
    border-radius: 50%;
    -webkit-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
    bottom: 8px;
    right: -1px;
}
.container .tail {
    position: absolute;
    width: 150px;
    height: 250px;
    right: 0;
    top: 140px;
    transform-origin: 0 bottom;
    animation: tailmove 3s ease infinite;
}
.container .tail .part1 {
    position: absolute;
    bottom: 18px;
    width: 60px;
    height: 15px;
    border-bottom: 2px solid #0a0a0a;
    border-top: 2px solid #0a0a0a;
    background: #983c0d;
    -webkit-transform: rotateZ(-50deg);
    transform: rotateZ(-50deg);
}
.container .tail .part2 {
    position: absolute;
    bottom: 49px;
    width: 50px;
    height: 18px;
    left: 9px;
    border-top: 2px solid #0a0a0a;
    background: #983c0d;
    -webkit-transform: rotateZ(40deg);
    transform: rotateZ(40deg);
    border-right: 2px solid #0a0a0a;
}
.container .tail .part2:before {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 9px solid #fed823;
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    left: 15px;
    top: -1px;
}
.container .tail .part2:after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 9px solid #fed823;
    border-right: 9px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    left: 14px;
    top: 8px;
}
.container .tail .part3 {
    position: absolute;
    bottom: 78px;
    width: 70px;
    height: 25px;
    border-top: 2px solid #0a0a0a;
    background: #fed823;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}
.container .tail .part4 {
    position: absolute;
    bottom: 105px;
    width: 80px;
    height: 35px;
    border-top: 2px solid #0a0a0a;
    background: #fed823;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    left: -10px;
}
.container .tail .part5 {
    position: absolute;
    bottom: 145px;
    width: 150px;
    height: 85px;
    border-top: 3px solid #0a0a0a;
    border-left: 2px solid #0a0a0a;
    background: #fed823;
    -webkit-transform: rotateZ(-7deg);
    transform: rotateZ(-7deg);
    left: -16px;
    border-top-left-radius: 100% 30px;
    border-bottom-right-radius: 20% 10px;
    border-right: 2px solid #0a0a0a;
}
.shock-left {
    position: absolute;
    left: -130px;
    top: 80px;
    -webkit-transform: rotateZ(140deg);
    transform: rotateZ(140deg);
    width: 140px;
    z-index: 10;
}
.shock-right {
    position: absolute;
    right: -110px;
    top: 100px;
    -webkit-transform: rotateZ(-14deg);
    transform: rotateZ(-14deg);
    z-index: 10;
}
@keyframes tailmove {
    0% {
        transform: rotateZ(0deg);
   }
    50% {
        transform: rotateZ(15deg);
   }
    100% {
        transform: rotateZ(0deg);
   }
}

.rating {
    width: 150px;
    overflow: hidden;
    display: inline-block;
    height: 30px;
}
.rating > input {
    opacity: 0;
    margin-right: -100%;
}
.rating > label {
    position: relative;
    display: block;
    float: right;
    background: url('../img/star-on-big.png');
    background-size: 30px 30px;
}
.rating > label:before {
    display: block;
    /* opacity: 0; */
    content: '';
    width: 30px;
    height: 30px;
    /* background: url('../img/star-off-big.png'); */
    background-size: 30px 30px;
    transition: opacity 0.2s linear;
} 



.game-board {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.game-grid-row {
    display: flex;
    flex-wrap: nowrap;
}
.game-card {
    /* background: url(../img/pokeball.jpg) center center no-repeat; */
    /* width: 4.5em; */
    /* height: 4.5em; */
    width: 25px;
    height: 25px;
    background-color: #212121;
    border-radius: 0.3em;
    margin: 0.4em;
    cursor: pointer;
}
.game-card-img {
    visibility: hidden;
    object-fit: cover;
    width: 4.5em;
    height: 4.5em;
}
.card {
    /* height: 340px; */
    width: 4.5em;
    height: 4.5em;
    margin: 1em;
    perspective: 1500px;
}

.card .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
    display: none;
}

.more:checked ~ .content {
    transform: rotateY(180deg);
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
}

.front .inner, .back .inner {
    height: 100%;
    display: flex;
    transform: translateZ(80px) scale(1);
}

.front {
    background-color: #fff;
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 50),
    rgba(255, 255, 255, 50)
    100%);
}

.front:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
}


.back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid #f0f0f0;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #859ddf;
}

::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
}
.card label {
    cursor: pointer;
}
.show-img {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}
#gameEnd{
    color: #FFF;
	position: absolute;
	top: 50%;
	left: 32.5%;
    font-size: 80px;
	margin: 0 auto;
}
@keyframes animateShowImage {
    0% { transform: rotateY(90deg); opacity: 0;}
    100%{ transform: rotateY(0); opacity: 1; }
}

@-webkit-keyframes animateShowImage {
    0% { transform: rotateY(90deg); opacity: 0;}
    100%{ transform: rotateY(0); opacity: 1; }
}

@-moz-keyframes animateShowImage {
    0% { transform: rotateY(90deg); opacity: 0;}
    100%{ transform: rotateY(0); opacity: 1; }
}
.disabled {
    pointer-events: none;
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .game-card, .game-card-img {
        width: 5em;
        height: 5em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .game-card, .game-card-img {
        width: 5.5em;
        height: 5.5em;
    }
}

@media only screen and (min-width: 992px) {
    /* .game-status-details {
        display: block;
    } */
    .game-card, .game-card-img {
        width: 6em;
        height: 6em;
    }
}
